<VirtualHost *:80>

    ServerName dash.example.com
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    WSGIDaemonProcess dashapp threads=5 user=www-data group=www-data
    WSGIScriptAlias / /var/www/dash/deployment/apache/dash.wsgi
   
    <Directory /var/www/dash>
        WSGIProcessGroup dashapp
        WSGIApplicationGroup %{GLOBAL}
        Require all granted
    </Directory>

</VirtualHost>

